/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:18px Tahoma, sans-serif; background:#fff; color:#fff; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf")
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../fonts/Montserrat/Montserrat-Light.ttf")
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf")
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf")
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat/Montserrat-Bold.ttf")
}



/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.orange-line {
  width: 345px;
  height: 100%;
  background-color: #f3c650;
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  opacity: 0.9;
  //color: #fff;

}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.header {
  height: 320px;
  //padding-left: 96px;

  .welcome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .awards {
      display: flex;

      div:first-child {
        padding-top: 9px;
        text-align: right;
      }
    }
  }

  .logo {
    //text-align: center;
    justify-content: center;

    h1 {
      font-size: 100px;
      font-family: "Montserrat-ExtraBold";
    }
    h2 {
      font-size: 28px;
      font-family: "Montserrat-Light";
      position: relative;
      bottom: 20px;
    }
  }
  .awards-title {
    color: #efc65e;
    font-size: 35px;
    font-family: "Montserrat-ExtraBold";
  }
  .square {
    width: 104px;
    height: 106px;
    background-color: #f5cb60;
    margin-left: 28px;
  }
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.content {
  //padding-right: 106px;
  //width: 605px;
  text-align: right;
  padding-right: 97px;
  width: 714px;

  span {
    font-size: 49px;
    font-family: "Montserrat-Regular";
  }
  h2 {
    font-size: 90px;
    font-family: "Montserrat-ExtraBold";
  }

  .text {
    //margin-top: 90px;
    margin-top: 83px;
    font-family: "Montserrat-Regular";
  }
  .orange-text {
    color: #efc65e;
  }
}

.white-block {
  width: 71px;
  height: 22px;
  background-color: #fff;
}

.business-section {
  height: 512px;
  background-color: #1f252a;
  display: flex;
  justify-content: space-between;

  .long-white-block {
    width: 414px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    right: 109px;
  }
  p {
    margin-top: 22px;
    word-spacing: 4px;
  }
}

.team-section {
  background-image: url(../../image/joshua-ness-225844.png);
  background-size: cover;
  height: 724px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.text-aside-block{
  padding: 0 45px 0 50px;
}

.second-aside-block {
  padding-top: 275px;

  p {
    padding-top: 11px;
  }
}

.third-aside-block {
  padding-top: 120px;

  p {
    font-size: 34px;
    font-family: "Montserrat-SemiBold";
    margin-top: 40px;
  }
}

.contacts {
  //background-color: #1f252a;
  display: flex;
  justify-content: center;
  width: 441px;
  height: 308px;
  position: absolute;
  padding-top: 70px;
  padding-left: 30px;
  background-color: #1f252a;

  li {
    font-family: "Montserrat-Regular";
    font-size: 21px;
    margin-top: 44px;
  }

  i {
    margin-right: 34px;
  }
  a {
    font-family: "Montserrat-Bold";
    color: #caa546;
    font-size: 22px;
    position: relative;
    top: 20px;
    text-decoration: none;
  }
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.footer {
  height: 190px;
  background-color: #1f252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 25px;
    width: 50%;
    li:first-child {
      margin-right: -100px;
    }
    img {
      width: 50%;
    }
  }



}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/

.container {
  background-color: #fffeda;
  width: 1240px;
  height: 100%;
  margin: auto;
}

